In [106]:
import pandas as pd
from pandas import read_excel
import numpy as np
import re
from re import sub
import multiprocessing
from unidecode import unidecode
import os
from time import time 
import tensorflow as tf
import keras
from keras.models import Sequential
from keras.layers import LSTM,Dense,Dropout,Activation,Embedding,Flatten,Bidirectional,MaxPooling2D, Conv1D, MaxPooling1D
from tensorflow.keras.optimizers import SGD,Adam
from keras import regularizers
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.utils.np_utils import to_categorical
import h5py
import csv
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.model_selection import StratifiedKFold

In [107]:
def text_to_word_list(text):
    text = text.split()
    return text

def replace_strings(text):
    emoji_pattern = re.compile("["
                           u"\U0001F600-\U0001F64F"  # emoticons
                           u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                           u"\U0001F680-\U0001F6FF"  # transport & map symbols
                           u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                           u"\U00002702-\U000027B0"
                           u"\U000024C2-\U0001F251"
                           u"\u00C0-\u017F"          #latin
                           u"\u2000-\u206F"          #generalPunctuations
                               
                           "]+", flags=re.UNICODE)
    english_pattern=re.compile('[a-zA-Z0-9]+', flags=re.I)
    #latin_pattern=re.compile('[A-Za-z\u00C0-\u00D6\u00D8-\u00f6\u00f8-\u00ff\s]*',)
    
    text=emoji_pattern.sub(r'', text)
    text=english_pattern.sub(r'', text)

    return text

def remove_punctuations(my_str):
    # define punctuation
    punctuations = '''````£|¢|Ñ+-*/=EROero৳০১২৩৪৫৬৭৮৯012–34567•89।!()-[]{};:'"“\’,<>./?@#$%^&*_~‘—॥”‰⚽️✌�￰৷￰'''
    
    no_punct = ""
    for char in my_str:
        if char not in punctuations:
            no_punct = no_punct + char

    # display the unpunctuated string
    return no_punct



def joining(text):
    out=' '.join(text)
    return out

def preprocessing(text):
    out=remove_punctuations(replace_strings(text))
    return out

In [108]:
df=pd.read_csv('Tweets2.csv')
df = df[["airline_sentiment","text"]]
df

      airline_sentiment                                               text
0               neutral                @VirginAmerica What @dhepburn said.
1              positive  @VirginAmerica plus you've added commercials t...
2               neutral  @VirginAmerica I didn't today... Must mean I n...
3              negative  @VirginAmerica it's really aggressive to blast...
4              negative  @VirginAmerica and it's a really big bad thing...
...                 ...                                                ...
14635          positive  @AmericanAir thank you we got on a different f...
14636          negative  @AmericanAir leaving over 20 minutes Late Flig...
14637           neutral  @AmericanAir Please bring American Airlines to...
14638          negative  @AmericanAir you have my money, you change my ...
14639           neutral  @AmericanAir we have 8 ppl so we need 2 know h...

[14640 rows x 2 columns]

In [109]:
df["airline_sentiment"] = df["airline_sentiment"].replace(regex="neutral", value=2)
df["airline_sentiment"] = df["airline_sentiment"].replace(regex="positive", value=1)
df["airline_sentiment"] = df["airline_sentiment"].replace(regex="negative", value=0)
df

      airline_sentiment                                               text
0                     2                @VirginAmerica What @dhepburn said.
1                     1  @VirginAmerica plus you've added commercials t...
2                     2  @VirginAmerica I didn't today... Must mean I n...
3                     0  @VirginAmerica it's really aggressive to blast...
4                     0  @VirginAmerica and it's a really big bad thing...
...                 ...                                                ...
14635                 1  @AmericanAir thank you we got on a different f...
14636                 0  @AmericanAir leaving over 20 minutes Late Flig...
14637                 2  @AmericanAir Please bring American Airlines to...
14638                 0  @AmericanAir you have my money, you change my ...
14639                 2  @AmericanAir we have 8 ppl so we need 2 know h...

[14640 rows x 2 columns]

In [110]:
df.drop(df.index[df['airline_sentiment'] == 2], inplace=True)
df

      airline_sentiment                                               text
1                     1  @VirginAmerica plus you've added commercials t...
3                     0  @VirginAmerica it's really aggressive to blast...
4                     0  @VirginAmerica and it's a really big bad thing...
5                     0  @VirginAmerica seriously would pay $30 a fligh...
6                     1  @VirginAmerica yes, nearly every time I fly VX...
...                 ...                                                ...
14633                 0  @AmericanAir my flight was Cancelled Flightled...
14634                 0         @AmericanAir right on cue with the delays👌
14635                 1  @AmericanAir thank you we got on a different f...
14636                 0  @AmericanAir leaving over 20 minutes Late Flig...
14638                 0  @AmericanAir you have my money, you change my ...

[11541 rows x 2 columns]

In [111]:
train1, test1 = train_test_split(df,random_state=69, test_size=0.2)
training_sentences = []
testing_sentences = []



train_sentences=train1['text'].values
train_labels=train1['airline_sentiment'].values
for i in range(train_sentences.shape[0]): 
    #print(train_sentences[i])
    x=str(train_sentences[i])
    training_sentences.append(x)
    
training_sentences=np.array(training_sentences)





test_sentences=test1['text'].values
test_labels=test1['airline_sentiment'].values

for i in range(test_sentences.shape[0]): 
    x=str(test_sentences[i])
    testing_sentences.append(x)
    
testing_sentences=np.array(testing_sentences)


train_labels=keras.utils.np_utils.to_categorical(train_labels)


test_labels=keras.utils.np_utils.to_categorical(test_labels)
print("Training Set Length: "+str(len(train1)))
print("Testing Set Length: "+str(len(test1)))
print("training_sentences shape: "+str(training_sentences.shape))
print("testing_sentences shape: "+str(testing_sentences.shape))
print("train_labels shape: "+str(train_labels.shape))
print("test_labels shape: "+str(test_labels.shape))

Training Set Length: 9232
Testing Set Length: 2309
training_sentences shape: (9232,)
testing_sentences shape: (2309,)
train_labels shape: (9232, 2)
test_labels shape: (2309, 2)

In [112]:
print(training_sentences[6])
print(train_labels[1])

@USAirways is the worst. 45 minute delay in Boston. Not weather reLate Flightd. Going to miss our connecting flight. Gassing up the plane issue.
[1. 0.]

In [113]:
vocab_size = 25000
embedding_dim = 300
max_length = 100
trunc_type='post'
oov_tok = "<OOV>"

In [114]:
tokenizer = Tokenizer(num_words = vocab_size, oov_token=oov_tok)
tokenizer.fit_on_texts(training_sentences)
word_index = tokenizer.word_index
print(len(word_index))
print("Word index length:"+str(len(tokenizer.word_index)))
sequences = tokenizer.texts_to_sequences(training_sentences)
padded = pad_sequences(sequences,maxlen=max_length, truncating=trunc_type)


test_sequences = tokenizer.texts_to_sequences(testing_sentences)
testing_padded = pad_sequences(test_sequences,maxlen=max_length)

11600
Word index length:11600

In [115]:
print("Sentence :--> \n")
print(training_sentences[6]+"\n")
print("Sentence Tokenized and Converted into Sequence :--> \n")
print(str(sequences[6])+"\n")
print("After Padding the Sequence with padding length 100 :--> \n")
print(padded[6])

Sentence :-->

@USAirways is the worst. 45 minute delay in Boston. Not weather reLate Flightd. Going to miss our connecting flight. Gassing up the plane issue.

Sentence Tokenized and Converted into Sequence :-->

[13, 15, 3, 149, 361, 523, 122, 16, 435, 23, 146, 1167, 934, 127, 2, 225, 69, 393, 9, 5020, 51, 3, 60, 238]

After Padding the Sequence with padding length 100 :-->

[   0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0   13   15    3  149  361  523  122   16
  435   23  146 1167  934  127    2  225   69  393    9 5020   51    3
   60  238]

In [116]:
print("Padded shape(training): "+str(padded.shape))
print("Padded shape(testing): "+str(testing_padded.shape))

Padded shape(training): (9232, 100)
Padded shape(testing): (2309, 100)

In [117]:
with tf.device('/gpu:0'):
    model= Sequential()
    model.add(Embedding(vocab_size, embedding_dim, input_length=max_length))
    model.add(Conv1D(200, kernel_size=3, activation = "relu"))
    model.add(Bidirectional(LSTM(64, return_sequences=True)))
    model.add(Dropout(0.5))
    model.add(Bidirectional(LSTM(64)))
    model.add(Dense(50, activation='relu'))
    model.add(Dense(50, activation='relu'))
    model.add(Flatten())
    #l2 regularizer
    model.add(Dense(100,kernel_regularizer=regularizers.l2(0.01),activation="relu"))
    model.add(Dense(2, activation='softmax'))
    #sgd= SGD(lr=0.0001,decay=1e-6,momentum=0.9,nesterov=True)
    adam=Adam(learning_rate=0.0005,beta_1=0.9,beta_2=0.999,epsilon=1e-07,amsgrad=False)
    model.summary()
    model.compile(loss='categorical_crossentropy',optimizer=adam,metrics=['accuracy'])

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_1 (Embedding)      (None, 100, 300)          7500000
_________________________________________________________________
conv1d_1 (Conv1D)            (None, 98, 200)           180200
_________________________________________________________________
bidirectional_2 (Bidirection (None, 98, 128)           135680
_________________________________________________________________
dropout_1 (Dropout)          (None, 98, 128)           0
_________________________________________________________________
bidirectional_3 (Bidirection (None, 128)               98816
_________________________________________________________________
dense_4 (Dense)              (None, 50)                6450
_________________________________________________________________
dense_5 (Dense)              (None, 50)                2550
_________________________________________________________________
flatten_1 (Flatten)          (None, 50)                0
_________________________________________________________________
dense_6 (Dense)              (None, 100)               5100
_________________________________________________________________
dense_7 (Dense)              (None, 2)                 202
=================================================================
Total params: 7,928,998
Trainable params: 7,928,998
Non-trainable params: 0
_________________________________________________________________

In [118]:
    history=model.fit(padded,train_labels,epochs=5,batch_size=256,validation_data=(testing_padded,test_labels),use_multiprocessing=True, workers=8)

Epoch 1/5
37/37 [==============================] - 41s 877ms/step - loss: 1.1084 - accuracy: 0.7777 - val_loss: 0.8896 - val_accuracy: 0.8129
Epoch 2/5
37/37 [==============================] - 32s 857ms/step - loss: 0.7410 - accuracy: 0.8750 - val_loss: 0.6250 - val_accuracy: 0.9147
Epoch 3/5
37/37 [==============================] - 38s 1s/step - loss: 0.4884 - accuracy: 0.9493 - val_loss: 0.5207 - val_accuracy: 0.9264
Epoch 4/5
37/37 [==============================] - 35s 943ms/step - loss: 0.3444 - accuracy: 0.9754 - val_loss: 0.4514 - val_accuracy: 0.9181
Epoch 5/5
37/37 [==============================] - 34s 917ms/step - loss: 0.2486 - accuracy: 0.9882 - val_loss: 0.4063 - val_accuracy: 0.9290